<h1>Editing presentation</h1>

<%= render "form", presentation: @presentation %>

<br>

<div>
  <p color="red">feature(TODO): </p>
  <%= link_to "Show the survey of the presentation", @presentation %> |

  <%= link_to "Show this presentation", @presentation %> |
  <%= link_to "Back to presentations", presentations_path %>
</div>
