<h1>Welcome, Student</h1>

<h2>Classes:</h2>
<ul>
  <%# Use 'klass' as class is reserved%>
  <%# current_user.classes.each do |klass| %>
    <li>
      <%# link_to klass.name, klass %>
    </li>
  <%# end %>
</ul>

<h4>Don't see your class?</h4>  

<% if @classes.try(:any?) %>
  <% @classes.each do |klass| %>
    <%= klass.name %>
  <% end %>
<% else %>
  <p>No classes are currently available.</p>
<% end %>