<h1>Welcome, Instructor</h1>

<h2>Your Classes:</h2>


<% if @klasses.try(:any?) %>
  <% @klasses.each do |klass| %>
    <%= klass.name %>
  <% end %>
<% else %>
  <p>No classes are currently available.</p>
<% end %>

<%= link_to "Create New Class", new_klass_path%>