<!DOCTYPE html>

<html lang="en">
  <head>
    <title>Create Event</title>
    <meta charset="UTF-8">
    <script src=""></script>
    <link rel="stylesheet" href="../styles/style.css">
  </head>
  <body>
    <img class="osulogo" src="../resources/osulogo.png" alt="osulogo">
    <hr class ="line">
    <div class="nav">
      <a class="hover" href="../pages/createEvent.html">Create Event</a>
      <a class="hover" href="../pages/profFeedback.html">Student Feedback</a>
      <a class="hover" href="../pages/classRoster.html">Class Roster</a>
      <a class="hover" href="../pages/login.html">Logout</a>
    </div> 
      <hr class ="line">
      <h1 style="font-size: 25px">Fill out the table to create an event (note: write NaN@osu.edu if student does not exist):</h1>
      <div class ="box">
        <label for="groupID">Enter the group ID #:</label>
        <input type="number" id="groupID" name="groupID">
        <br><br>
        <label for="topic">Enter the group's topic:</label>
        <input type="text" id="topic" name="topic">
        <br><br>
        <label for="email1">Student 1's email:</label>
        <input type="email" id="email1" name="email1">
        <br><br>
        <label for="email2">Student 2's email:</label>
        <input type="email" id="email2" name="email2">
        <br><br>
        <label for="email3">Student 3's email:</label>
        <input type="email" id="email3" name="email3">
        <br><br>
        <label for="email4">Student 4's email:</label>
        <input type="email" id="email4" name="email4">
        <br><br>
        <label for="email5">Student 5's email:</label>
        <input type="email" id="email5" name="email5">
        <br><br>
        <input type="submit" value="Create">
      </div>
  </body>
</html>

