<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Create Event</title>
      <meta charset="UTF-8">
      <script type='text/javascript'>
        function addMembers(){
            // Generate a dynamic number of inputs
            var number = document.getElementById("members").value;
            // Get the element where the inputs will be added to
            var container = document.getElementById("groupcontainer");

            if(number > 6 || number <= 0){
               alert("Please enter a valid value! (0-6)")
            } else {
               // Remove every children it had before
               while (container.hasChildNodes()) {
                  container.removeChild(container.lastChild);
               }
               for (i=0;i<number;i++){
                  // Append a node with a random text
                  container.appendChild(document.createTextNode("Student " + (i + 1) + "'s email: "));
                  // Create an <input> element, set its type and name attributes
                  var input = document.createElement("input");
                  input.type = "email";
                  input.name = "email" + i;
                  input.id = "email" + i;
                  container.appendChild(input);
                  // Append a line break 
                  container.appendChild(document.createElement("br"));
                  container.appendChild(document.createElement("br"));
               }
            }
        }
    </script>
      <link rel="stylesheet" href="../styles/style.css">
   </head>
   <body>
      <img class="osulogo" src="../resources/osulogo.png" alt="osulogo">
      <hr class ="line">
      <div class="nav">
         <a class="hover" href="../pages/createEvent.html">Create Event</a>
         <a class="hover" href="../pages/profFeedback.html">Student Feedback</a>
         <a class="hover" href="../pages/classRoster.html">Class Roster</a>
         <a class="hover" href="../pages/login.html">Logout</a>
      </div>
      <hr class ="line">
      <h1 style="font-size: 25px">Fill out the table to create an event (note: write NaN@osu.edu if student does not exist):</h1>
      <div class ="box">
         <label for="groupID">Enter the group ID #:</label>
         <input type="number" id="groupID" name="groupID">
         <br><br>
         <label for="topic">Enter the group's topic:</label>
         <input type="text" id="topic" name="topic">
         <br><br>
         <input type="text" id="members" name="members" value=""> Number of members: (max. 6) 
         <br>
         <a href="#" id="fillmembers" onclick="addMembers()">Fill Group List</a>
         <br><br>
         <div id="groupcontainer"/>

         </div>
         <input type="submit" value="Create">
      </div>
   </body>
</html>