<!DOCTYPE html>

<html lang="en">
  <head>
    <title>Professor/TA Home</title>
    <meta charset="UTF-8">
    <script src=""></script>
    <link rel="stylesheet" href="../styles/view.css">
  </head>
  <body>
    <img class="osulogo" src="../resources/osulogo.png" alt="osulogo">
    <hr class ="line">
    <div class="nav">
      <a class="hover" href="../pages/createEvent.html">Create Event</a>
      <a class="hover" href="../pages/profFeedback.html">Student Feedback</a>
      <a class="hover" href="../pages/profEnrollment.html">Class Roster</a>
      <a class="hover" href="../pages/home.html">Logout</a>
    </div> 
      <hr class ="line">
      <p> Welcome! If you would like to create an event click 'Create Event'. To view a groups survey response click 'Student Feedback'. If you would like to edit the class roster click 'Class Roster'.</p>
  </body>
</html>



