<!DOCTYPE html>

<html lang="en">
  <head>
    <title>Presenter Login</title>
    <meta charset="UTF-8">
    <script src=""></script>
    <link rel="stylesheet" href="../styles/presenterLogin.css">
  </head>
  <body>
    <img class="osulogo" src="../resources/osulogo.png" alt="osulogo">
    <hr class ="line">
    <div class="nav">
      <a class="hover" href="../pages/home.html">Home</a>
    </div> 
      <hr class ="line">
      <div class="container">
      <h2 class = "loginPrompt">Please enter your e-mail and password to login:</h1>
        
    </div>
  </body>
</html>



