<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Class Enrollment</title>
      <meta charset="UTF-8">
      <script src=""></script>
      <link rel="stylesheet" href="../styles/style.css">
   </head>
   <body>
      <img class="osulogo" src="../resources/osulogo.png" alt="osulogo">
      <hr class ="line">
      <div class="nav">
         <a class="hover" href="../pages/survey.html">Fill Out Survey</a>
         <a class="hover" href="../pages/studentFeedback.html">View Feedback</a>
         <a class="hover" href="../pages/studentEnrollment.html">Class Enrollment</a>
         <a class="hover" href="../pages/login.html">Logout</a>
      </div>
      <hr class ="line">
      <h1 style="font-size: 25px">Please click 'Add Class' if you would like to add this class:<br></h1>
      <form action="addClass"> 
        <input type="submit" value="Add Class">
      </form>
      <h2 style="font-size: 25px">Please click 'Drop Class' if you would like to drop the class:</h2>
      <form action="dropClass"> 
        <input type="submit" value="Drop Class">
      </form>
   </body>
</html>