<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Feedback</title>
      <meta charset="UTF-8">
      <script src=""></script>
      <link rel="stylesheet" href="../styles/style.css">
   </head>
   <body>
      <img class="osulogo" src="../resources/osulogo.png" alt="osulogo">
      <hr class ="line">
      <div class="nav">
         <a class="hover" href="../pages/survey.html">Fill Out Survey</a>
         <a class="hover" href="../pages/studentFeedback.html">View Feedback</a>
         <a class="hover" href="../pages/studentEnrollment.html">Class Enrollment</a>
         <a class="hover" href="../pages/login.html">Logout</a>
      </div>
      <hr class ="line">
      <h1 style="font-size: 25px">Here are the results of your presentation:<br></h1>
      <table>
         <tr>
            <th></th>
            <th>Your score</th>
            <th>Class average</th>
            <th>Highest Score</th>
            <th>Lowest score</th>
            <th>Percent Above/below Average</th>
         </tr>
         <tr>
            <th>Display</th>
            <th id ="disScore"></th>
            <th id ="disAvg"></th>
            <th id ="disHigh"></th>
            <th id ="disLow"></th>
            <th id ="disComparedToAve"></th>
         </tr>
         <tr>
            <th>Organization</th>
            <th id ="orgScore"></th>
            <th id ="orgAvg"></th>
            <th id ="orgHigh"></th>
            <th id ="orgLow"></th>
            <th id ="orgComparedToAve"></th>
         </tr>
         <tr>
            <th>Eye Contact</th>
            <th id ="eyeScore"></th>
            <th id ="eyeAvg"></th>
            <th id ="eyeHigh"></th>
            <th id ="eyeLow"></th>
            <th id ="eyeComparedToAve"></th>
         </tr>
         <tr>
            <th>Voice</th>
            <th id ="voiceScore"></th>
            <th id ="voiceAvg"></th>
            <th id ="voiceHigh"></th>
            <th id ="voiceLow"></th>
            <th id ="voiceComparedToAve"></th>
         </tr>
         <tr>
            <th>Your Average Score</th>
            <th id ="totalAveScore"></th>
         </tr>
      </table>
      <h2 style="font-size: 25px">Feedback from peers:</h2>
      <table class = "comments">
         <tr>
            <th>Comments:</th>
         </tr>
         <tr>
            <th style="text-align: left; font-weight:400" id = "comment1">Good stuff man!</th>
         </tr>
         <tr>
            <th style="text-align: left; font-weight:400" id = "comment2">Good stuff man!</th>
         </tr>
         <tr>
            <th style="text-align: left; font-weight:400" id = "comment4">Good stuff man!</th>
         </tr>
         <tr>
            <th style="text-align: left; font-weight:400" id = "comment5">Good stuff man!</th>
         </tr>
         <tr>
            <th style="text-align: left; font-weight:400" id = "comment6">Good stuff man!</th>
         </tr>
         <tr>
            <th style="text-align: left; font-weight:400" id = "comment7">Good stuff man!</th>
         </tr>
         <tr>
            <th style="text-align: left; font-weight:400" id = "comment8">Good stuff man!</th>
         </tr>
      </table>
      <p>I hope this feedback helps you improve future presenations. If you have any questions about your results please don't hesitate to contact me.</p>
   </body>
</html>