<!DOCTYPE html>

<html lang="en">
  <head>
    <title>Student Home</title>
    <meta charset="UTF-8">
    <script src=""></script>
    <link rel="stylesheet" href="../styles/style.css">
  </head>
  <body>
    <img class="osulogo" src="../resources/osulogo.png" alt="osulogo">
    <hr class ="line">
    <div class="nav">
      <a class="hover" href="../pages/survey.html">Fill Out Survey</a>
      <a class="hover" href="../pages/studentFeedback.html">View Feedback</a>
      <a class="hover" href="../pages/studentEnrollment.html">Class Enrollment</a>
      <a class="hover" href="../pages/login.html">Logout</a>
    </div> 
      <hr class ="line">
      <p> Welcome! If you would like to fill out a presentation survey click 'Fill Out Survey'. To view the results from your presentation click 'View Feedback'. If you would like to add/drop a class click 'Class Enrollment'.</p>
      <img src="../resources/OSU.png" alt="osulogo">
  </body>
</html>



