html {
  background: #cfd4d8;
  font-family: century-gothic, sans-serif;
  margin-left: 5px;
}
.nav a:hover {
  background-color: #ddd;
  font-weight: bold;
  border: solid;
  color: black;
}
h1.title {
  font-size: 20px;
}
.line {
  background-color: #ba0c2f;
  height: 5px;
}
img.osulogo{
  width:224px;
  height:32px;
  margin-left: 6px;
  margin-top: 10px;
}
.nav {
  overflow: hidden;
  font-weight: bold;
  margin: 5px;
  justify-content: left;
  display: flex;
}
.nav a {
  font-size: 35px;
  float: left;
  background-color: #a7b1b7;
  text-decoration : none;
  color: #ba0c2f;
  text-align: center;
  font-weight: bold;
  padding: 14px 16px;
  border: solid;
  border-color: black;
  margin: inherit;
}
.nav a:hover {
  background-color: #ddd;
  font-weight: bold;
  border: solid;
  color: black;
}
.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
table {
  border-collapse: collapse;
  width: 100%;
  border: solid;
}
td, th {
  border: 1px solid #a7b1b7;
  text-align: center;
  padding: 12px;  
}
table#comments {
  border-collapse: collapse;
  width: 100%;
  border: solid;
}
td#comments, th#comments {
  border: 1px solid #a7b1b7;
  padding: 8px;
}
.box {
  border: solid;
  padding: 12px;
  
}
p {
  font-size: 20px;
  line-height: 28px;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

